<div layout="row" layout-align="center start" >
    <md-content flex flex-gt-lg="75" class="md-whiteframe-z1 md-default-theme chat-container">
        <div layout="row">
            <div layout="column" class="w-100">
                <md-toolbar class="md-accent">
                    <h2 class="md-toolbar-tools" layout="row" layout-align="space-between">
                        <span>
                            <md-button aria-label="Toggle Menu">
                            </md-button>
                        </span>
                        <span layout="row" layout-align="center center">
                        <span>Sample Dialog Room </span>
                        </span>
                        <span title="Users in this room">
                            <md-icon class="mar-lef-5">
                            </md-icon>
                        </span>
                    </h2>
                </md-toolbar>
                <md-content md-scroll-y class="md-padding inner-tab" scroll-glue>
                   
                    <div class="dialog" ng-repeat="msg in messages">
                        <div class="dialog-body">
                            <img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg?2" class="md-avatar avater-received" alt="Min Li Chan" src="https://material.angularjs.org/latest/img/list/60.jpeg?2">
                            <div class="dialog-content">
                                <p class="message-text">{{msg}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="dialog" ng-repeat="msg in addedMessages">
                        <div class="dialog-body">
                            <img ng-src="https://memegenerator.net/img/images/60x60/10362.jpg" class="md-avatar avater-received" src="https://memegenerator.net/img/images/60x60/10362.jpg">
                            <div class="{{msg.class}}" id="{{msg.id}}">
                                <md-progress-circular ng-if="msg.processing" md-mode="indeterminate" ng-disabled="false" class="md-hue-2 received-icon" md-diameter="20px"></md-progress-circular>
                                <i ng-if="!msg.processing" class="material-icons received-icon">&#xE877;</i>
                                <p class="message-text">{{msg.text}}</p>
                            </div>
                        </div>
                    </div>
                </md-content>
                <md-content class="md-padding" layout="column" novalidate>
                    <form name="messageForm">
                        <md-input-container>
                            <label>Message</label>
                            <input tabindex="1" autofocus minlength="1" md-maxlength="500" ng-model="newMessageText" name="newMessageText"/>
                            <div ng-show="newMessageText.length === 0">
                                <div class="form-error-message" ng-message="md-maxlength">Message musl be longer than 1 char</div>
                            </div>
                        </md-input-container>
                        <div layout="row" layout-align="end">
                            <md-button ng-disable="newMessageText.length === 0" tabindex="2" ng-click="addMessage(newMessageText)" class="md-primary" role="submit" type="submit">Send</md-button>
                        </div>
                    </form>
                </md-content>
            </div>
        </div>
    </md-content>
</div>